.container {
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  
}

.cat-btn {
  padding: 8px 16px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.cat-btn:hover {
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding-bottom: 100px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  background: rgb(238, 207, 230);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.image {
  
  object-fit: contain;
  margin-bottom: 10px;
}

.price {
  color: rgb(122, 37, 90);
  font-weight: bold;
}

.button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #333;
}

.subcat-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.subcat-buttons button {
  padding: 6px 12px;
  border: none;
  background: #dddddd;
  cursor: pointer;
  border-radius: 5px;
}

.subcat-buttons .active {
  background: #222;
  color: white;
}
.cat-btn {
  padding: 8px 16px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.cat-btn:hover {
  background-color: black;
  color: white;
}

.cat-btn.active {
  background-color: #913663;
  color: white;
}
.order-btn {
  margin-top: 8px;
  padding: 8px 12px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.order-btn:hover {
  background-color: #218838;
}