.product-page {
  display: flex;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-section img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border-radius: 10px;
}

.details-section {
  max-width: 400px;
}

.price {
  color: rgb(216, 115, 186);
  margin: 10px 0;
}

.desc {
  margin: 15px 0;
}

.sizes button {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid rgb(236, 152, 201);
  background: rgb(15, 14, 14);
  cursor: pointer;
}

.sizes .active {
  background: black;
  color: white;
}

.cart-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.order-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: rgb(219, 163, 202);
  color: #0e0c0c;
  border: none;
  cursor: pointer;
}

